* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(254, 243, 233);
}

.main-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  max-height: 800px;
  width: 80vw;
  height: 80vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgb(186, 186, 186);;
}

.setting-wrap {
  position: relative;
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
  background-color: rgb(255, 255, 255);
}

.setting-wrap,
.image-area-wrap {
  border: 1px solid rgb(153, 153, 153);
  border-radius: 10px;
}

.setting-disabled {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.image-area-wrap {
  width: 65%;
  height: 90%;
  background-color: rgb(255, 255, 255);
}

.slider-wrap {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.slider {
  width: 80%;
  height: 8px;
  cursor: pointer;
}

.slider-name {
  margin-left: 11%;
  align-self: flex-start;
}

.buttons-wrap {
  display: flex;
  gap: 10px;
}

.button {
  margin: 10px;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.7;
}

.image-area-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.upload-btn {
  position: absolute;
  visibility: hidden;
}

.image {
  width: 20%;
  height: 80%;
  background-color: rgb(255, 255, 255);
  background-image: url('./assets/placeholder.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 768px) {

  .main-wrap {
    flex-direction: column;
  }

  .setting-wrap {
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    width: 80%;
  }

  .image-area-wrap {
    max-height: 60%;
    width: 80%;
  }

  .buttons-wrap {
    gap: 0px;
  }

  .button {
    font-size: 16px;
  }

  .slider-wrap {
    width: 40%;
    gap: 6px
  }
  
  .slider {
    height: 4px;
  }

  .setting-wrap .button {
    width: 40%;
  }
}